<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Eggshell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA4296B61BFB804B00832B6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA4296CD1BFB804B00832B6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA4296D81BFB804C00832B6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
